<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utexas.ece.ee382v.connexus.connexus">

    <!-- Permissions -->
    <!-- To access Google APIs -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Sign-in -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- OAuth2.0 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.utexas.ece.ee382v.connexus.SigninActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.utexas.ece.ee382v.connexus.ViewAllStreamsActivity" />
        <activity
            android:name="edu.utexas.ece.ee382v.connexus.CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name="edu.utexas.ece.ee382v.connexus.ViewSingleStreamActivity" />
        <activity android:name="edu.utexas.ece.ee382v.connexus.NearbyActivity" />
        <activity android:name="edu.utexas.ece.ee382v.connexus.ImageUpload" />

        <activity android:name="edu.utexas.ece.ee382v.connexus.SearchResultActivity"></activity>
    </application>

</manifest>
